In [1]:
import os; os.chdir('..')

# PySpark Dataframes

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark= SparkSession.builder.appName('Dataframe Practice').getOrCreate()

bash: /home/ubuntu/anaconda3/lib/libtinfo.so.6: no version information available (required by bash)
bash: /home/ubuntu/anaconda3/lib/libtinfo.so.6: no version information available (required by bash)
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/10/26 06:15:35 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
spark

In [5]:
# read the dataset
spark.read.option('header', 'true').csv('data/data_01.csv').show()

+---------+---+----------+
|     name|age|experience|
+---------+---+----------+
|Deepankar| 20|         1|
|     Lina| 23|        18|
|   Jordan| 20|         7|
|    Jessi| 18|         5|
|     Bree| 16|         3|
+---------+---+----------+

In [6]:
# show schema
spark.read.option('header', 'true').csv('data/data_01.csv').printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- experience: string (nullable = true)

In [7]:
# show schema
spark.read.option('header', 'true').csv('data/data_01.csv', inferSchema=True).printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [8]:
spark.read.csv(
    'data/data_01.csv',
    header=True,
    inferSchema= True
).printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [9]:
spark.read.csv(
    'data/data_01.csv',
    header=True,
    inferSchema= True
).show()

+---------+---+----------+
|     name|age|experience|
+---------+---+----------+
|Deepankar| 20|         1|
|     Lina| 23|        18|
|   Jordan| 20|         7|
|    Jessi| 18|         5|
|     Bree| 16|         3|
+---------+---+----------+

In [10]:
# Dataframe is a data structure
df_pyspark= spark.read.csv(
    'data/data_01.csv',
    header=True,
    inferSchema= True
)
print(type(df_pyspark))
df_pyspark.show()

<class 'pyspark.sql.dataframe.DataFrame'>
+---------+---+----------+
|     name|age|experience|
+---------+---+----------+
|Deepankar| 20|         1|
|     Lina| 23|        18|
|   Jordan| 20|         7|
|    Jessi| 18|         5|
|     Bree| 16|         3|
+---------+---+----------+

In [11]:
df_pyspark.columns

['name', 'age', 'experience']

In [12]:
df_pyspark.select('Name')

DataFrame[Name: string]

In [13]:
df_pyspark.select(['Name', 'Experience'])

DataFrame[Name: string, Experience: int]

In [14]:
df_pyspark.select(['Name', 'Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|Deepankar|         1|
|     Lina|        18|
|   Jordan|         7|
|    Jessi|         5|
|     Bree|         3|
+---------+----------+

In [15]:
df_pyspark['experience']

Column<'experience'>

In [16]:
df_pyspark.dtypes

[('name', 'string'), ('age', 'int'), ('experience', 'int')]

In [17]:
df_pyspark.describe()

DataFrame[summary: string, name: string, age: string, experience: string]

In [18]:
df_pyspark.describe().show()

+-------+----+------------------+-----------------+
|summary|name|               age|       experience|
+-------+----+------------------+-----------------+
|  count|   5|                 5|                5|
|   mean|NULL|              19.4|              6.8|
| stddev|NULL|2.6076809620810595|6.648308055437865|
|    min|Bree|                16|                1|
|    max|Lina|                23|               18|
+-------+----+------------------+-----------------+

In [19]:
# Adding columns to the pyspark dataframe
df_pyspark.withColumn(
    'Experience after two years', # column we want to add
    df_pyspark['experience']+2 # value
).show()

+---------+---+----------+--------------------------+
|     name|age|experience|Experience after two years|
+---------+---+----------+--------------------------+
|Deepankar| 20|         1|                         3|
|     Lina| 23|        18|                        20|
|   Jordan| 20|         7|                         9|
|    Jessi| 18|         5|                         7|
|     Bree| 16|         3|                         5|
+---------+---+----------+--------------------------+

In [21]:
# Drop the column 
df_pyspark.drop(
    'experience' # column/list of columns we want to drop
).show()

+---------+---+
|     name|age|
+---------+---+
|Deepankar| 20|
|     Lina| 23|
|   Jordan| 20|
|    Jessi| 18|
|     Bree| 16|
+---------+---+

In [22]:
# Renaming the columns 
df_pyspark.withColumnRenamed(
    'name', # actual value of the column name
    'first_name' # value
).show()

+----------+---+----------+
|first_name|age|experience|
+----------+---+----------+
| Deepankar| 20|         1|
|      Lina| 23|        18|
|    Jordan| 20|         7|
|     Jessi| 18|         5|
|      Bree| 16|         3|
+----------+---+----------+

# PySpark handling the missing values
- dropping columns 
- dropping rows 
- various parameters in dropping functionalities
- handling missing values by mean

In [27]:
! tree -I venv

/bin/bash: /home/ubuntu/anaconda3/lib/libtinfo.so.6: no version information available (required by /bin/bash)
.
├── data
│   └── data_01.csv
└── tutorials
    ├── 01_basic_installation.ipynb
    ├── 02_Pyspark_dataframes.ipynb
    └── demo.csv

2 directories, 4 files